<footer class="footer">

    <a href="#home" class="ico-arrow"><img src="./assets/images/ico-arrow.svg" alt="" name="arrow" class="ico-arrow__img"></a>

    <div class="footer__container">
        <nav class="menu">
            <ul class="list-type">
                <li><a href="https://adalab.es/" class="menu-list">articles</a></li>
                <li><a href="https://adalab.es/" class="menu-list">books</a></li>
                <li><a href="https://adalab.es/" class="menu-list">events</a></li>
                <li><a href="https://adalab.es/" class="menu-list">reasons</a></li>
                <li><a href="https://adalab.es/" class="menu-list">tip</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer__container1">
        <nav class="socialmedia">
            <ul class="list-type">
                <li><a href="https://adalab.es/" class=socialmedia-list>twitter</a></li>
                <li><a href="https://adalab.es/" class=socialmedia-list>instagram</a></li>
                <li> <a href="https://adalab.es/" class=socialmedia-list>mastodon.social</a></li>

            </ul>
        </nav>
    </div>
    <div class="advertise">
        <p class="copy">&#169 2021</p>
        <p class="components">we <span class="heart">&hearts;</span> components</p>
    </div>
</footer>