<footer>
    <div>
        <nav>
            <ul>
                <li><a href="https://adalab.es/">articles</a></li>
                <li><a href="https://adalab.es/">books</a></li>
                <li><a href="https://adalab.es/">events</a></li>
                <li><a href="https://adalab.es/">reasons</a></li>
                <li><a href="https://adalab.es/">tip</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="https://adalab.es/">twitter</a></li>
                <li><a href="https://adalab.es/">instagram</a></li>
                <li><a href="https://adalab.es/">mastodon.social</a></li>

            </ul>
        </nav>
        <p>c 2021</p>
        <p>we love components</p>
    </div>
</footer>