<header class="header" id="home">
    <nav class="header__menu">
        <a href="https://adalab.es/"><img src="./assets/images/ico-menu.svg" alt="menu" title="menu"></a>
    </nav>
    <div class="container">
        <h1 class="header__text-tittle">anonymous proxy</h1>
        <p class="header__text-content">in hac habitasse platea dictumst</p>
        <div class="header__ico-scroll">
            <a href="#reasons" title="reasons"><img src="./assets/images/ico-scroll-down.svg" alt="scroll" ></a>
        </div>
    </div>

    

</header>