<header class="header">
    <div class="header__text">
        <h1 class="header__text-tittle">anonymous proxy</h1>
        <p class="header__text-content">in hac habitasse platea dictumst</p>
   </div>
   <nav class="header__menu">
            <a href="https://adalab.es/" ><img src="./assets/images/ico-menu.svg" alt="menu" title="menu" ></a>
    </nav>
   
   <div  class="header__img">
       <img src="./assets/images/cover.jpg" alt="New York" title="New York">
    </div> 
    
    <div class="scroll">
        <nav>
            <a href=""><img src="./assets/images/ico-scroll-down.svg" alt="scroll"></a>
        </nav>

    </div>

</header>