<main class="main">
    <section class="main__section1">
        <small class="main__section1-small">insomnia tips</small>
        <h2 class="main__section1-title">looking through a windown</h2>
        <p class="main__section1-text">donce accumsan, nulla ut volutpat porttitor, quam odio tempus felis, al luctus ex
            diam
            nec lectus.
            Vivamus smeper sodales rutrum.</p>
        <button class="button-go">go</button>
    </section>
    <section class="main__section2">
        <h2 class="main__section2-title"> 3 reasons to purchase</h2>
        <article class="main__section2-article">
            <h3 class="main__section2-article-title"> Ut sed metus</h3>
            <p class="main__section2-article-text">Lorem ipsum dolor sit annet,consecteur.</p>
        </article>
        <article class="main__section2-article">
            <h3 class="main__section2-article-title">Curabitur ac erat</h3>
            <p class="main__section2-article-text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="main__section2-article">
            <h3 class="main__section2-article-title">Morbi dictum</h3>
            <p class="main__section2-article-text">Aliquam in dolor et dolor tincidunt.</p>
        </article>
        <button class="button-more"> More reasons</button>
    </section>
    <div class="ico-arrow">
        <nav>
            <a href=""><img src="./assets/images/ico-arrow.svg" alt=""></a>
        </nav>
    </div>
</main>