// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-tittle-header: #ffff;
$color-menu-icon: #0271bc;
$color-main-text: black;
$color-button: #f26002;
$background-color-articles: #eff9ff;
$backgroung-color-main: white;
$background-footer: #304268;
$color-small: #8ccbea;