.footer {
  width: 100%;
  background-color: $background-footer;
  color: $color-tittle-header;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  padding-top: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 39px;
    width: 100%;
  }
  @media (min-width:1024px) {
    justify-content: center;
    line-height: 1.50;
  }
  
  &__container {
    width: 73px;
    margin-top:10px;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;

    @media (min-width: 768px) {
      width: 210px;
      height: 150px;
      order: 2;
      text-align: justify;
      padding-left: 100px;
      margin-top: 0px;
    }
  }
  .list-type {
    list-style: none;
  }

  .menu-list {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: $color-tittle-header;
    line-height: 1.6;
  }

  &__container1 {
    width: 147px;
    height: 90px;
    text-transform: uppercase;
    font-size: 16px;
    margin-top:15px;

    @media (min-width: 768px) {
      width: 210px;
      height: 90px;
      order: 3;
      text-align: justify;
      padding-left: 50px;
      padding-bottom: 150px;
      margin-top:0px;
    }
  }
  .socialmedia-list {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: $color-tittle-header;
    line-height: 1.6;
  }
  .advertise {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      order: 1;
      padding-bottom: 90px;
    }
  }
  .copy {
    padding-bottom: 10px;
  }
}

.ico-arrow {
  background-color: $backgroung-color-main;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 28px;
  position: absolute;
  top: -22.5px;
  align-items: center;
  display: flex;
  justify-content: center;
  animation-name: arrow;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
     @keyframes arrow {
       from{
         background-color: $backgroung-color-main;
       }
       to{
         background-color: $color-small;
       }
      }

  @media (min-width: 768px) {
    order: 4;
    transform:translateX(-10px);
  }

  @media (min-width: 1024px) {

  }
}
.heart {
  color: red;
}
