.header {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: $color-tittle-header;
  /*text-align: center;
  flex-direction: column;
  justify-content: center;*/
  box-sizing: border-box;
  &__menu {
    background-color: $color-menu-icon;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    text-align: center;
    padding-top: 10px;
  }
  .container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
    @media (min-width:1024px){
        transform: translateY(-50px);
    }
  }
  &__text-tittle {
    text-transform: uppercase;
    text-align: center;
    transform: translateY(500px);
    font-size: 45px;
    width: 290px;
    height: 110px;
    @media (min-width: 768px) {
        font-size:60px;
        line-height: 1.30;
        width: 600px;
    }
    @media (min-width:1024px) {
        font-size: 90px;
        line-height: 1.40;
        width: 730px;
        
    }
  }
  &__text-content {
    text-transform: capitalize;
    transform: translateY(520px);
    font-size: 16px;
    @media (min-width:768px){
        font-size: 24px;
    }
    @media (min-width:1024px) {
      transform: translateY(650px);
      
    }
  }
&__ico-scroll {
  background-color: $backgroung-color-main;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: translateY(530px);
  transition: color ease 5s;
  @media (min-width:1024px) {
    transform: translateY(680px);
    
  }
  
}
}

